<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <script src="https://kit.fontawesome.com/ec067d744e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/CSS/styles.css">
</head>
<body>
    <div class="header">
        <div class="header-wrapper">
            <div class="nav">
                <a class="nav-link-logo" href="/">
                    <i class="fas fa-car"></i>
                    <span>Parkville</span>
                </a>
                <a class="nav-link" href="/login.pug">
                    <i class="fas fa-car"></i>
                    <span>Parking</span>
                </a>
                <a class="nav-link" href="/login.pug">
                    <i class="fas fa-car-battery"></i>
                    <span>Battery Shop</span>
                </a>
                <a class="nav-link" href="/login.pug">
                    <i class="far fa-circle"></i>
                    <span>Tyre Clinic</span>
                </a>
            </div>
        </div>

        <div class="dash-wrapper">
            
            <div class="dash-btn">
                <a href="/login">
                    <i class="fas fa-power-off"></i>
                    <span>LogOut</span>
                </a>
            </div>
            
            <div class="dashboard">
                <div class="dash-card">
                    <p>Cars</p>
                </div>
                <div class="dash-card">
                    <p>Battery Shop</p> 
                </div>
            </div>

            <div class="dashboard">
                <div class="dash-card">
                    <p>Trye Clinic</p>
                </div>
                <div class="dash-card">
                    <p>Managers</p> 
                </div>
            </div>
        </div>
    </div>
</body>
</html>