doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Dashboard || Parkville
  script(src='https://kit.fontawesome.com/ec067d744e.js' crossorigin='anonymous')
  link(rel='stylesheet' href='/CSS/styles.css')
.header
  .header-wrapper
    .nav
      a.nav-link-logo(href='#')
        i.fas.fa-car
        span Parkville
      a.nav-link(href='/parkingreport')
        i.fas.fa-car
        span Parking
      a.nav-link(href='/batteryReport')
        i.fas.fa-car-battery
        span Battery Shop
      a.nav-link(href='/carTyreReport')
        i.far.fa-circle
        span Tyre Clinic
  .dash-wrapper
    .dash-btn
      a(href='/')
        i.fas.fa-power-off
        span LogOut
    .dashboard
      .dash-card
        p Car Parking
      .dash-card
        p Battery Shop
    .dashboard
      .dash-card
        p Trye Clinic
      .dash-card
        p Reports
