doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Parkville || Parking App
  link(rel='stylesheet' href='/CSS/styles.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css' integrity='sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==' crossorigin='anonymous' referrerpolicy='no-referrer')
.container
  .container-wrapper
    // Login Image
    .car-img
      img(src='/IMG/car.png' alt='car')
    // Form
    .login-wrapper
      .login-form
        .login-intro
          i.fa-solid.fa-car
          h1 Welcome to Parkville
          p Your best car parking solutions
        form(method='POST' onsubmit='return validateForm()' action='/')
          .form-group
            label(for='username') Email
            input#username.form-control(type='email' name='email' placeholder='Email')
            span#usernameError
          .form-group
            label(for='password') Password
            input#password.form-control(type='password' name='password' placeholder='Password')
            span#passwordError
          .form-pass
            a(href='#') Forgot Password?
          .form-group
            button.btn.btn-primary(type='submit' name='login') Login
          .login-btn
            a(href='/register') Don&apos;t have an account ?
    // Form End
  script(src='/js/login.js')
