doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Parking
  script(src='https://kit.fontawesome.com/ec067d744e.js' crossorigin='anonymous')
  link(rel='stylesheet' href='/CSS/styles.css')
.battery-nav
  .nav-wrapper
    a.nav-link-logo(href='/')
      i.fas.fa-car
      span Parkville
  .nav-wrapper-mid
    a.nav-link(href='/')
      span Home
    a.nav-link(href='#')
      span Customer Details
  .nav-wrapper-log
    a(href='/')
      i.fas.fa-power-off
      span LogOut
.parking-report
  h3 Car Parking Entries
  table.parking-table(style='width:100%')
    tr
      th Name
      th No. Plate
      th Car Type
      th Arrival Time
      th Parking Time
      th Parking Fee
    tr
      td Brisa
      td Muk
      td Benz
      td Benz
      td Benz
      td Benz
      td Benz
      td Benz
    tr
      td Benz
      td Benz
      td Benz
      td Benz
      td Benz
      td Benz
      td Benz
      td Benz
