<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parking</title>
    <script src="https://kit.fontawesome.com/ec067d744e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/CSS/styles.css">
</head>
<body>
    <div class="battery-nav">
        <div class="nav-wrapper">
            <a class="nav-link-logo" href="/">
                <i class="fas fa-car"></i>
                <span>Parkville</span>
            </a>
        </div>
        <div class="nav-wrapper-mid">
            <a class="nav-link" href="/login.pug">
                <span>Home</span>
            </a>
            <a class="nav-link" href="/login.pug">
                <span>Customer Details</span>
            </a>
        </div>
        <div class="nav-wrapper-log">
            <a href="/login">
                <i class="fas fa-power-off"></i>
                <span>LogOut</span>
            </a>
        </div>
    </div>

    <div class="parking-report">
        <div class="parking-report-details">
            <h3 class="parking-title">Car Parking Entries</h3>
            <h3><button class="btn btn-primary"><a class="nav-link-btn" href="/registerParking">Add Parking</a></button></h3>
            <h3><button class="btn btn-primary"><a class="nav-link-btn" href="/registerParking">Sign Off</a></button></h3>
        </div>
        <table style="width:100%" class="parking-table">
        <tr>
            <th>Car Type</th>
            <th>Name</th>
            <th>No. Plate</th>
            <th>Arrival Time</th>
            <th>Car Model</th>
            <th>Car Color</th>
            <th>Parking Time</th>
            <th>Parking Fee</th>
        </tr>
        <tr>
            <td>Brisa</td>
            <td>Muk</td>
            <td>Benz</td>
            <td>Benz</td>
            <td>Benz</td>
            <td>Benz</td>
            <td>Benz</td>
            <td>Benz</td>
        </tr>
        <tr>
            <td>Benz</td>
            <td>Benz</td>
            <td>Benz</td>
            <td>Benz</td>
            <td>Benz</td>
            <td>Benz</td>
            <td>Benz</td>
            <td>Benz</td>
        </tr>
        </table>
    </div>
</body>
</html>