doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Register Parking || Parkville
  script(src='https://kit.fontawesome.com/ec067d744e.js' crossorigin='anonymous')
  link(rel='stylesheet' href='/CSS/styles.css')
.parking-nav
  .nav-wrapper
    a.nav-link-logo(href='#')
      i.fas.fa-car
      span Parkville
  .nav-wrapper-mid
    a.nav-link(href='/dashboard')
      span Dashboard 
    a.nav-link(href='/parkingreport')
      span Parking Entries
  .nav-wrapper-log
    a(href='/')
      i.fas.fa-power-off
      span LogOut
.parking-form-wrapper
  form(method="POST" action='/registerParking')
    h3 Register Parking
    fieldset
      label(for='cartype') Car Type
      select#cartype(name='cartype')
        option(value='Default') Select Car Type
        option(value='trucks') Trucks
        option(value='personalCars') Own-Car
        option(value='taxis') Taxis
        option(value='coasters') Coasters
        option(value='bodas') Boda Bodas
        span#cartypeError
    br
    fieldset
      label(for='name') Name
      input#name(type='text' name='name')
      span#nameError
    fieldset
      label(for='numberplate') No. Plate
      input#numberplate(type='text' name='numberplate')
      span#numberplateError
    fieldset
      label(for='phonenumber') Phone Number
      input#phonenumber(type='number' name='phonenumber')
      span#phonenumberError
    fieldset
      label(for='arrivaltime') Time of Arrival
      input#arrivaltime(type='datetime-local' name='arrivaltime')
      span#arrivaltimeError
    fieldset
      label(for='model') Model
      input#model(type='text' name='carmodel')
      span#modelError
    fieldset
      label(for='color') color
      input#color(type='text' name='color')
      span#colorError
    fieldset
      label(for='parkingtime') Time of Parking
      select#parkingtime(name='parkingtime' type='time')
        option(value='Default' required='') Select Time of Parking
        option(value='day') Day
        option(value='night') Night
        span#parkingtimeError
    br
    fieldset
      label(for='parkingfee') Parking Fee
      select#parkingfee(name='parkingfee' type='number')
        option(value='' required='') Choose Parking Fee
        option(value='1000') 1,000 UGX
        option(value='2000') 2,000 UGX
        option(value='3000') 3,000 UGX
        option(value='4000') 4,000 UGX
        option(value='5000') 5,000 UGX
        option(value='10,000') 10,000 UGX
        span#parkingfeeError
    br
    fieldset.form-btns
      button.btn.btn-primary(type='submit') Register
      button.btn.back-btn(type='reset') Clear
  script(src='/js/registerParking.js')