doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Sign Off || Parkville
  script(src='https://kit.fontawesome.com/ec067d744e.js' crossorigin='anonymous')
  link(rel='stylesheet' href='/CSS/styles.css')
.parking-nav
  .nav-wrapper
    a.nav-link-logo(href='/')
      i.fas.fa-car
      span Parkville
  .nav-wrapper-mid
    a.nav-link(href='/')
      span Home
    a.nav-link(href='/parkingreport')
      span Parking Details
  .nav-wrapper-log
    a(href='/')
      i.fas.fa-power-off
      span LogOut
.parking-form-wrapper
  form(method='POST' action='/signoff')
    h3 Sign Off a Parking Client
    br
    fieldset
      label(for='name') Name
      input(type='text')
    fieldset
      label(for='receiptno') Receipt No.
      input(type='number')
    fieldset
      label(for='name') Phone Number
      input(type='number')
    fieldset
      label(for='name') Time &amp; Date
      input(type='datetime-local')
    fieldset
      label(for='gender') Gender
      input(type='text')
    fieldset
      label(for='nin') NIN
      input(type='text')
    fieldset.form-btns
      button.btn.btn-primary(type='submit' name='login') Login
      button.btn.back-btn(type='submit' name='login') Clear