doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Sign Off Parked Car || Parkville
  script(src='https://kit.fontawesome.com/ec067d744e.js' crossorigin='anonymous')
  link(rel='stylesheet' href='/CSS/styles.css')
.parking-nav
  .nav-wrapper
    a.nav-link-logo(href='#')
      i.fas.fa-car
      span Parkville
  .nav-wrapper-mid
    a.nav-link(href='/dashboard')
      span Dashboard
    a.nav-link(href='/signoffReport')
      span Signoff Report
  .nav-wrapper-log
    a(href='/')
      i.fas.fa-power-off
      span LogOut
.parking-form-wrapper
  form(method='POST' action='/signoffUser')
    h3 Sign Off a Parking Client
    br
    fieldset
      label(for='name') Name
      input(type='text' name='name')
    fieldset
      label(for='receiptno') Receipt No.
      input(type='text' name='receiptno')
    fieldset
      label(for='phonenumber') Phone Number
      input(type='text' name='phonenumber')
    fieldset
      label(for='time') Time &amp; Date
      input(type='datetime-local' name='time')
    fieldset
      label(for='gender') Gender
      select#gender(name="gender")
        option(value='Default') Select Gender
        option(value="male" required="") Male 
        option(value="female") Female
    fieldset
      label(for='nin') NIN
      input(type='text' name="nin")
    fieldset.form-btns
      button.btn.btn-primary(type='submit') Sign Off 
      button.btn.back-btn(type='reset') Clear